<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.crossingthestreams.flutterappauth"
  xmlns:tools="http://schemas.android.com/tools">
  <application>
    <activity android:name="net.openid.appauth.RedirectUriReceiverActivity"
      android:theme="@style/Theme.AppCompat.Translucent.NoTitleBar"
      tools:replace="android:theme" />
  </application>
</manifest>
