<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.crossingthestreams.flutterappauth"
  xmlns:tools="http://schemas.android.com/tools">
  <application>
    <activity android:name="net.openid.appauth.RedirectUriReceiverActivity"
      tools:node="remove" />

    <activity
      android:name=".FlutterAppAuthRedirectUriReceiverActivity"
      android:exported="true"
      android:theme="@style/Theme.AppCompat.Translucent.NoTitleBar">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="${appAuthRedirectScheme}" />
      </intent-filter>
    </activity>
  </application>
</manifest>
